body {
  font-family: 'Jua', sans-serif;
  background-color: #ffffff;
  box-sizing: border-box;
  color: #FAA0A6;
}

.file-upload {
    padding: 3% 3%;
    margin: 0 auto;
    border-radius: 10px;
    border: solid 1.5px #ffffff;
    background-color: #ffffff;
    
}

.img {
    margin: 0 auto;
     text-align: center;

}
.file-upload-btn {
  width: 100%;
  margin: 0;
  color: #fff;
  background: #F2E7FA;
  border: none;
  padding: 10px;
  border-radius: 4px;
  border-bottom: 4px solid #15824B;
  transition: all .2s ease;
  outline: none;
  text-transform: uppercase;
  font-weight: 700;
}

.file-upload-btn:hover {
  background: #1AA059;
  color: #ffffff;
  transition: all .2s ease;
  cursor: pointer;
}

.file-upload-btn:active {
  border: 0;
  transition: all .2s ease;
}

.file-upload-content {
  display: none;
  text-align: center;
}
#loading {
  display: none;
}

.file-upload-input {
  position: absolute;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  outline: none;
  opacity: 0;
  cursor: pointer;
}


.image-upload-wrap {
    width: 70%;
        height: 70%;
    margin: 0 auto;
    position: relative;
    object-fit: contain;
    border-radius: 5px;
    border: dashed 1.5px #ffffff;
    background-color: #FDDBE3;
    
}

.image-dropping,
.image-upload-wrap:hover {
    background-color: #FDDBE3;
    border: 1.5px dashed #ffffff;
}

.image-title-wrap {
  padding: 0 15px 15px 15px;
  color: #222;
}

.drag-text {
  text-align: center;
}

.drag-text h3 {
  font-weight: 500;
  text-transform: uppercase;
}


.file-upload-image {
  max-height:50%;
  max-width: 50%;
  margin: auto;
  padding: 10px;
}

.try-again-btn {
  border-radius: 40px;
  border: solid 1.5px #35465d;
  background-color: #35465d;
}

.try-again-text {
  display: block;
  font-size: 1.5rem;
  text-align: center;
  color: #ffffff;
  padding: 4px 15px;
}

.remove-image:hover {
  background: #c13b2a;
  color: #ffffff;
  transition: all .2s ease;
  cursor: pointer;
}

.remove-image:active {
  border: 0;
  transition: all .2s ease;
}

.navbar-light .navbar-brand {
  line-height: 1.68;
  text-align: left;
  color: #B9B6B7; 
}


.navbar-light .navbar-toggler {
    border-color: #B9B6B7;
}
.section {
    margin-top: 50px;
}

.title {
  line-height: 1.67;
  text-align: center;
  color: #FFE010;
        font-size: 25px;
}

.subtitle {
  line-height: 1.53;
  text-align: center;
  color: #FFAFB2;
        font-size: 30px;
}
.sbtitle {
  line-height: 1.53;
  text-align: center;
  color: #FCDC5F;
        font-size: 20px;
}


/* On screens that are 600px or less, set the background color to olive */
@media screen and (max-width: 600px) {
  html {
    font-size: 10px;
  }
    .navbar-brand {
        font-size: 2rem;
    }
}



.upload {
    width: 20%;
}

.upload-text {
    width: 58%;
    font-size: 1.5rem;
    line-height: 1.53;
    text-align: center;
    color: #35465d;
    margin: 0 auto;
}

.footer {
    background-color: initial;
    color: initial;
}

.bar-container {
  height: 2.7rem;
}
.ap-box {
 position: absolute;
  top: 0;
  left: 0;
  height: 2rem;
  border-radius: 10px;
  width: 100%;
  background-color: rgba(255, 102, 102, 0.2);
}
.ap-bar {
  position: absolute;
  top: 0;
  left: 0;
  height: 2rem;
  border-radius: 10px;
 background-color: rgba(255, 102, 102, 1);
}
.cc-box {
  position: absolute;
  top: 0;
  left: 0;
  height: 2rem;
  border-radius: 10px;
  width: 100%;
 background-color: rgba(117, 204, 84, 0.2);
}
.cc-bar {
  position: absolute;
  top: 0;
  left: 0;
  height: 2rem;
  border-radius: 10px;
    background-color: rgba(117, 204, 84, 1);
}
.cs-box {
  position: absolute;
  top: 0;
  left: 0;
  height: 2rem;
  border-radius: 10px;
  width: 100%;
 background-color: rgba(255, 102, 153, 0.2);
}
.cs-bar {
  position: absolute;
  top: 0;
  left: 0;
  height: 2rem;
  border-radius: 10px;
background-color: rgba(255, 102, 153, 1);
}
.jr-box {
  position: absolute;
  top: 0;
  left: 0;
  height: 2rem;
  border-radius: 10px;
  width: 100%;
background-color: rgba(49, 132, 155, 0.2);
}
.jr-bar {
  position: absolute;
  top: 0;
  left: 0;
  height: 2rem;
  border-radius: 10px;
   background-color: rgba(49, 132, 155, 1);
}
.jz-box {
  position: absolute;
  top: 0;
  left: 0;
  height: 2rem;
  border-radius: 10px;
  width: 100%;
background-color: rgba(235, 166, 190, 0.2);
}
.jz-bar {
  position: absolute;
  top: 0;
  left: 0;
  height: 2rem;
  border-radius: 10px;
 background-color: rgba(235, 166, 190, 1);
}
.ly-box {
  position: absolute;
  top: 0;
  left: 0;
  height: 2rem;
  border-radius: 10px;
  width: 100%;
  background-color: rgba(105, 140, 102, 0.2);
}
.ly-bar {
  position: absolute;
  top: 0;
  left: 0;
  height: 2rem;
  border-radius: 10px;
   background-color: rgba(105, 140, 102, 1);
}
.mz-box {
  position: absolute;
  top: 0;
  left: 0;
  height: 2rem;
  border-radius: 10px;
  width: 100%;
  background-color: rgba(204, 204, 204, 0.2);
}
.mz-bar {
  position: absolute;
  top: 0;
  left: 0;
  height: 2rem;
  border-radius: 10px;
   background-color: rgba(204, 204, 204, 1);
}
.no-box {
  position: absolute;
  top: 0;
  left: 0;
  height: 2rem;
  border-radius: 10px;
  width: 100%;
   background-color: rgba(204, 153, 255, 0.2);
}
.no-bar {
  position: absolute;
  top: 0;
  left: 0;
  height: 2rem;
  border-radius: 10px;
 background-color: rgba(204, 153, 255, 1);
}
.pr-box {
  position: absolute;
  top: 0;
  left: 0;
  height: 2rem;
  border-radius: 10px;
  width: 100%;
   background-color: rgba(255, 205, 0, 0.2);
}
.pr-bar {
  position: absolute;
  top: 0;
  left: 0;
  height: 2rem;
  border-radius: 10px;
  background-color: rgba(255, 205, 0, 1);
}
.tb-box {
  position: absolute;
  top: 0;
  left: 0;
  height: 2rem;
  border-radius: 10px;
  width: 100%;
   background-color: rgba(255, 205, 0, 0.2);
}
.tb-bar {
  position: absolute;
  top: 0;
  left: 0;
  height: 2rem;
  border-radius: 10px;
  background-color: rgba(255, 205, 0, 1);
}

.percent-text {
  font-size: 1rem;
  color: #ffffff;
}
.kk-label {
    width: 20%;
    text-align: left;
    height: 2rem;
}
#label-container {
    width: 80%;
    margin: 0 auto;
}
.result-message {
    font-size: 2rem;
}


.kk-explain {
    color: #23231e;
    font-size: 1.5rem;
}
.ap-kk-title {
    color: #FCC0C0;
}
.ap-kk-celeb {
    color: #FCC0C0;
    font-size: 1.2rem;
}
.cc-kk-title {
    color: #1DC159;
}
.cc-kk-celeb {
    color: #1DC159;
    font-size: 1.2rem;
}
.cs-kk-title {
    color: #FDE467;
}
.cs-kk-celeb {
    color: #FDE467;
    font-size: 1.2rem;
}
.jr-kk-title {
    color: #59EF9A;
}
.jr-kk-celeb {
    color: #59EF9A;
    font-size: 1.2rem;
}
.jz-kk-title {
    color: #874E16;
}
.jz-kk-celeb {
    color: #874E16;
    font-size: 1.2rem;
}
.ly-kk-title {
    color: #E5BD1C;
}
.ly-kk-celeb {
    color: #E5BD1C;
    font-size: 1.2rem;
}
.mz-kk-title {
    color: #FFDE57;
}
.mz-kk-celeb {
    color: #FFDE57;
    font-size: 1.2rem;
}
.no-kk-title {
    color: #375BBC;
}
.no-kk-celeb {
    color: #375BBC;
    font-size: 1.2rem;
}
.pr-kk-title {
    color: #AB794E;
}
.pr-kk-celeb {
    color: #AB794E;
    font-size: 1.2rem;
}
.tb-kk-title {
    color: #FDC50B;
}
.tb-kk-celeb {
    color: #FDC50B;
    font-size: 1.2rem;
}

/* gender */
input#gender {
  display: none;
}

label {
  cursor: pointer;
  display: inline-block;
  width: 90px;
  height: 41px;
  box-shadow: 0 0 0 8px #e5e9ea inset;
  border-radius: 30px;
  position: relative;
}

.knob {
  position: absolute;
  width: 41px;
  top: 0;
  left: 0;
  height: 41px;
  border-radius: 50%;
  box-shadow: 0 0 0 8px #f470a7 inset;
  background-color: #fbd4e6;
  transition: 0.3s;
}

.knob > i {
  position: absolute;
  width: 4px;
  height: 18px;
  top: 100%;
  background-color: #f470a7;
  left: calc(50% - 2px);
}

.knob > i:before,
.knob > i:after {
  width: 6px;
  position: absolute;
  top: 42%;
  content: "";
  height: 4px;
  background-color: #f470a7;
}

.knob > i:before {
  left: 4px;
}
.knob > i:after {
  left: -6px;
}

input:checked + label > .knob {
  box-shadow: 0 0 0 8px #a1c6dd inset;
  background-color: #e2ecf4;
  transform: translateX(49px) rotate(-140deg);
}

input:checked + label > .knob > i {
  background-color: #a1c6dd;
}

input:checked + label > .knob > i:after,
input:checked + label > .knob > i:before {
  background-color: #a1c6dd;
}

input:checked + label > .knob > i:after {
  top: 14.5px;
  width: 12px;
  left: -7px;
  transform: rotate(45deg);
}
input:checked + label > .knob > i:before {
  top: 13px;
  width: 12px;
  left: 0px;
  transform: rotate(134deg);
}

.ad-banner {
    width: 320px;
    margin: 0 auto;
}


.coupang-banner {
    width: 320px;
    margin: 0 auto;
}