body {
  font-family: 'Jua', sans-serif;
  background-color: #ffffff;
  box-sizing: border-box;
  color: #9A9A9A;
}

.file-upload {
    padding: 3% 3%;
    margin: 0 auto;
    border-radius: 10px;
    border: solid 1.5px #ffffff;
    background-color: #ffffff;
    
}

.img {
    margin: 0 auto;
     text-align: center;

}
.file-upload-btn {
  width: 100%;
  margin: 0;
  color: #fff;
  background: #F2E7FA;
  border: none;
  padding: 10px;
  border-radius: 4px;
  border-bottom: 4px solid #15824B;
  transition: all .2s ease;
  outline: none;
  text-transform: uppercase;
  font-weight: 700;
}

.file-upload-btn:hover {
  background: #1AA059;
  color: #ffffff;
  transition: all .2s ease;
  cursor: pointer;
}

.file-upload-btn:active {
  border: 0;
  transition: all .2s ease;
}

.file-upload-content {
  display: none;
  text-align: center;
}
#loading {
  display: none;
}

.file-upload-input {
  position: absolute;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  outline: none;
  opacity: 0;
  cursor: pointer;
}


.image-upload-wrap {
    width: 70%;
        height: 70%;
    margin: 0 auto;
    position: relative;
    object-fit: contain;
    border-radius: 5px;
    border: dashed 1.5px #ffffff;
    background-color: #FDDBE3;
    
}

.image-dropping,
.image-upload-wrap:hover {
    background-color: #FDDBE3;
    border: 1.5px dashed #ffffff;
}

.image-title-wrap {
  padding: 0 15px 15px 15px;
  color: #222;
}

.drag-text {
  text-align: center;
}

.drag-text h3 {
  font-weight: 500;
  text-transform: uppercase;
}


.file-upload-image {
  max-height:50%;
  max-width: 50%;
  margin: auto;
  padding: 10px;
}

.try-again-btn {
  border-radius: 40px;
  border: solid 1.5px #35465d;
  background-color: #35465d;
}

.try-again-text {
  display: block;
  font-size: 1.5rem;
  text-align: center;
  color: #ffffff;
  padding: 4px 15px;
}

.remove-image:hover {
  background: #c13b2a;
  color: #ffffff;
  transition: all .2s ease;
  cursor: pointer;
}

.remove-image:active {
  border: 0;
  transition: all .2s ease;
}

.navbar-light .navbar-brand {
  line-height: 1.68;
  text-align: left;
  color: #B9B6B7; 
}


.navbar-light .navbar-toggler {
    border-color: #B9B6B7;
}
.section {
    margin-top: 50px;
}

.title {
  line-height: 1.67;
  text-align: center;
  color: #0DB9E4;
        font-size: 25px;
}

.subtitle {
  line-height: 1.53;
  text-align: center;
  color: #FAA0A6;
        font-size: 30px;
}
.sbtitle {
  line-height: 1.53;
  text-align: center;
  color: #BDBDBD;
        font-size: 20px;
}


/* On screens that are 600px or less, set the background color to olive */
@media screen and (max-width: 600px) {
  html {
    font-size: 10px;
  }
    .navbar-brand {
        font-size: 2rem;
    }
}



.upload {
    width: 20%;
}

.upload-text {
    width: 58%;
    font-size: 1.5rem;
    line-height: 1.53;
    text-align: center;
    color: #35465d;
    margin: 0 auto;
}

.footer {
    background-color: initial;
    color: initial;
}

.bar-container {
  height: 2.7rem;
}
.bp-box {
 position: absolute;
  top: 0;
  left: 0;
  height: 2rem;
  border-radius: 10px;
  width: 100%;
   background-color: rgba(255, 102, 102, 0.2);
}
.bp-bar {
  position: absolute;
  top: 0;
  left: 0;
  height: 2rem;
  border-radius: 10px;
 background-color: rgba(255, 102, 102, 1);
}
.ie-box {
  position: absolute;
  top: 0;
  left: 0;
  height: 2rem;
  border-radius: 10px;
  width: 100%;
 background-color: rgba(117, 204, 84, 0.2);
}
.ie-bar {
  position: absolute;
  top: 0;
  left: 0;
  height: 2rem;
  border-radius: 10px;
     background-color: rgba(117, 204, 84, 1);
}
.it-box {
  position: absolute;
  top: 0;
  left: 0;
  height: 2rem;
  border-radius: 10px;
  width: 100%;
 background-color: rgba(255, 166, 166, 0.2);
}
.it-bar {
  position: absolute;
  top: 0;
  left: 0;
  height: 2rem;
  border-radius: 10px;
background-color: rgba(255, 166, 166, 1);
}
.iv-box {
  position: absolute;
  top: 0;
  left: 0;
  height: 2rem;
  border-radius: 10px;
  width: 100%;
background-color: rgba(4, 146, 255, 0.2);
}
.iv-bar {
  position: absolute;
  top: 0;
  left: 0;
  height: 2rem;
  border-radius: 10px;
   background-color: rgba(4, 146, 255, 1);
}
.mm-box {
  position: absolute;
  top: 0;
  left: 0;
  height: 2rem;
  border-radius: 10px;
  width: 100%;
background-color: rgba(255, 128, 0, 0.2);
}
.mm-bar {
  position: absolute;
  top: 0;
  left: 0;
  height: 2rem;
  border-radius: 10px;
 background-color: rgba(255, 128, 0, 1);
}
.om-box {
  position: absolute;
  top: 0;
  left: 0;
  height: 2rem;
  border-radius: 10px;
  width: 100%;
  background-color: rgba(255, 206, 7, 0.2);
}
.om-bar {
  position: absolute;
  top: 0;
  left: 0;
  height: 2rem;
  border-radius: 10px;
    background-color: rgba(255, 206, 7, 1);
}
.rd-box {
  position: absolute;
  top: 0;
  left: 0;
  height: 2rem;
  border-radius: 10px;
  width: 100%;
  background-color: rgba(153, 76, 0, 0.2);
}
.rd-bar {
  position: absolute;
  top: 0;
  left: 0;
  height: 2rem;
  border-radius: 10px;
   background-color: rgba(153, 76, 0, 1);
}
.sp-box {
  position: absolute;
  top: 0;
  left: 0;
  height: 2rem;
  border-radius: 10px;
  width: 100%;
   background-color: rgba(154, 0, 255, 0.2);
}
.sp-bar {
  position: absolute;
  top: 0;
  left: 0;
  height: 2rem;
  border-radius: 10px;
 background-color: rgba(154, 0, 255, 1);
}
.st-box {
  position: absolute;
  top: 0;
  left: 0;
  height: 2rem;
  border-radius: 10px;
  width: 100%;
   background-color: rgba(27, 145, 9, 0.2);
}
.st-bar {
  position: absolute;
  top: 0;
  left: 0;
  height: 2rem;
  border-radius: 10px;
 background-color: rgba(27, 145, 9, 1);
}.tw-box {
  position: absolute;
  top: 0;
  left: 0;
  height: 2rem;
  border-radius: 10px;
  width: 100%;
   background-color: rgba(204, 153, 255, 0.2);
}
.tw-bar {
  position: absolute;
  top: 0;
  left: 0;
  height: 2rem;
  border-radius: 10px;
 background-color: rgba(204, 153, 255, 1);
}
.percent-text {
  font-size: 1rem;
  color: #ffffff;
}
.gg-label {
    width: 20%;
    text-align: left;
    height: 2rem;
}
#label-container {
    width: 80%;
    margin: 0 auto;
}
.result-message {
    font-size: 2rem;
}


.gg-explain {
    color: #23231e;
    font-size: 1.5rem;
}
.bp-gg-title {
    color:  #FF6666;
}
.bp-gg-celeb {
    color: #FF6666;
    font-size: 1.2rem;
}
.ie-gg-title {
      color: #75CC54;
}
.ie-gg-celeb {
    color: #75CC54;
    font-size: 1.2rem;
}
.it-gg-title {
 color: #FFA6A6;
}
.it-gg-celeb {
       color: #FFA6A6;
    font-size: 1.2rem;
}
.iv-gg-title {
    color: #0492FF;
}
.iv-gg-celeb {
    color: #0492FF;
    font-size: 1.2rem;
}
.mm-gg-title {
   color: #FF9C07;
}
.mm-gg-celeb {
  color: #FF9C07;
     font-size: 1.2rem;
}
.om-gg-title {
  color: #FFCE07;
}
.om-gg-celeb {
    color: #FFCE07;
    font-size: 1.2rem;
}
.rd-gg-title {
   color: #A46A15;
}
.rd-gg-celeb {
 color: #A46A15;
    font-size: 1.2rem;
}
.sp-gg-title {
    color: #9A00FF;
}
.sp-gg-celeb {
     color: #9A00FF;
    font-size: 1.2rem;
}
.st-gg-title {
    color: #1B9109;
}
.st-gg-celeb {
     color: #1B9109;
    font-size: 1.2rem;
}
.tw-gg-title {
    color: #CC99FF;
}
.tw-gg-celeb {
     color: #CC99FF;
    font-size: 1.2rem;
}

/* gender */
input#gender {
  display: none;
}

label {
  cursor: pointer;
  display: inline-block;
  width: 90px;
  height: 41px;
  box-shadow: 0 0 0 8px #e5e9ea inset;
  border-radius: 30px;
  position: relative;
}

.knob {
  position: absolute;
  width: 41px;
  top: 0;
  left: 0;
  height: 41px;
  border-radius: 50%;
  box-shadow: 0 0 0 8px #f470a7 inset;
  background-color: #fbd4e6;
  transition: 0.3s;
}

.knob > i {
  position: absolute;
  width: 4px;
  height: 18px;
  top: 100%;
  background-color: #f470a7;
  left: calc(50% - 2px);
}

.knob > i:before,
.knob > i:after {
  width: 6px;
  position: absolute;
  top: 42%;
  content: "";
  height: 4px;
  background-color: #f470a7;
}

.knob > i:before {
  left: 4px;
}
.knob > i:after {
  left: -6px;
}

input:checked + label > .knob {
  box-shadow: 0 0 0 8px #a1c6dd inset;
  background-color: #e2ecf4;
  transform: translateX(49px) rotate(-140deg);
}

input:checked + label > .knob > i {
  background-color: #a1c6dd;
}

input:checked + label > .knob > i:after,
input:checked + label > .knob > i:before {
  background-color: #a1c6dd;
}

input:checked + label > .knob > i:after {
  top: 14.5px;
  width: 12px;
  left: -7px;
  transform: rotate(45deg);
}
input:checked + label > .knob > i:before {
  top: 13px;
  width: 12px;
  left: 0px;
  transform: rotate(134deg);
}

.ad-banner {
    width: 320px;
    margin: 0 auto;
}


.coupang-banner {
    width: 320px;
    margin: 0 auto;
}